body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.counter {
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 30%;
}

.counter button {
  background-color: blue;
  width: 3rem;
  height: 3rem;
  font-size: 28px;
  color: white;
  border: none;
}

.counter button:active {
  background-color: darkblue;
  cursor: pointer;
  transform: scale(0.9);

}

.counter span {
  text-align: center;
  margin: 0 1rem;
  width: 2em;
  padding-top: 1rem;
}